requests
beautifulsoup4
pandas
numpy
datetime
prefect
prefect-github
selenium
chromedriver_autoinstaller
webdriver_manager 
pymssql
unidecode
sqlalchemy
streamlit==1.42.0
streamlit-autorefresh
plotly
altair<5.0.0